VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_KEY=
VITE_SITE_URL=http://localhost:5173/Campus-Marketplace
VITE_BASE_PATH=/Campus-Marketplace/
VITE_PAYFAST_SANDBOX_MODE=true
VITE_APP_BASE_URL=http://localhost:5173/Campus-Marketplace
